<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB6Ks8rE4t0i38FMQljkZd3Z41m9vIQubs</string>
	<key>GCM_SENDER_ID</key>
	<string>47804794032</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cogScreen</string>
	<key>PROJECT_ID</key>
	<string>cogscreen-ec86f</string>
	<key>STORAGE_BUCKET</key>
	<string>cogscreen-ec86f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:47804794032:ios:33b0d03f369368e62a6775</string>
</dict>
</plist>